<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Tic tac toe Angular</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
  <script type="text/javascript" src="app/app.js"></script>
</head>

<body ng-app="app" ng-controller="mainController">
  <div id="container">    
    <div id="game" class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div id="grid" class="row">
        <div ng-repeat="cell in cells" class="cell col-xs-4 fa" ng-class="cell.text" ng-click="cellClicked(cell.id)">
        </div>
      </div><!-- grid -->

      <div id="message" ng-class="messageClass" class="row">
        {{message}}
      </div><!-- message -->
    </div><!-- game -->
  </div>
</body>

</html>