
body{
    font-family: 'Droid Sans', sans-serif;
}

#grid {
  padding-top: 50px;
  font-size: 36px;
  text-align: center;
}

#message{
    font-size: 36px;
    text-align: center;
}
.mPlayer1{
    background-color: lightblue;
}

.mPlayer2{
    background-color: lightyellow;
}

