
body{
    font-family: 'Droid Sans', sans-serif;
}
#game{
    padding-top: 20px;
}


.cell{
    border-style: groove;
    border-width: 1px;
    font-size: 30vw;
    text-align: center;
}

.cellHide {
    color: white;
}

#message{
    font-size: 36px;
    text-align: center;
}
.mPlayer1{
    background-color: lightblue;
}

.mPlayer2{
    background-color: lightyellow;
}

.mDraw{
    background: lightpink;
}

