
html, body {
  overflow-x: hidden;
}

body{
    font-family: 'Droid Sans', sans-serif;
}


.cell{
    border-style: groove;
    border-width: 1px;
    font-size: 29vw;
    text-align: center;
}

.cellHide {
    color: transparent; 
}

#message{
    font-size: 36px;
    text-align: center;
}
.mPlayer1{
    background-color: lightblue;
}

.mPlayer2{
    background-color: lightyellow;
}

.mDraw{
    background: lightpink;
}

h1 {
  font-size: 8.9vw;
  margin: 10px 0;
}

.stats{
    font-size: 18px;
    margin: 0px;
  
}